<!--<div class="container list-group-item col-xs-12" *ngFor="let recipe of recipes">-->
<div class="container list-group-item col-xs-12" style="margin-top: 10px">
  <a href="#" class="row">
    <div class="col-8" style="text-align: left">
      <h4>Recipe Name</h4>
      <p class="">Description</p>
    </div>
    <div class="col" style="text-align: right;">
      <img src="https://picsum.photos/80/80/?random" alt="Some random description" class="img-fluid" style="max-height: 80px">
    </div>
  </a>
</div>
