<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row list-group">
  <div class="container list-group-item col-xs-12" style="margin-top: 10px" *ngFor="let recipe of recipes">
    <a href="#" class="row">
      <div class="col-8" >
        <h4>{{recipe.name}}</h4>
        <p class="">{{recipe.description}}</p>
      </div>
      <div class="col" >
        <img src="{{recipe.imagePath}}" alt="{{recipe.description}}" class="img-fluid" style="max-height: 80px">
      </div>
    </a>
  </div>
  <app-recipe-item ></app-recipe-item>
</div>


